# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables and virtual environments
.env
.venv/
env/
venv/
ENV/

# Project Logs, outputs and Test caches
pipeline.log
output/
.pytest_cache/
.Rhistory
